<div class="ibox-content text-center p-md" style="min-height:610px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a  class="btn btn-primary" (click)="CSVExport()">
                    <i class="fa fa-angle-double-right"></i>
                    CSVエクスポート
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-xs-12">
            <table id='devViewTable'></table>
            <div id='devViewPager'></div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-xs-12">
            <div class="text-right">
                <button class="btn btn-primary" (click)="deviceCheck()">
                    <i class="fa fa-check-square"></i>
                    ステータスチェック
                </button>
            </div>
        </div>
    </div>
</div>