<div class="modal-content" style="width:960">
    <div class="modal-header popup-title" style="font-size:21px">
        <i class="fa fa-cubes"></i>
        Error Devices Table
        <button
            type="button" 
            class="close pull-right" 
            aria-label="Close" 
            (click)="closeAlertModal()"
        >
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="modal-body" style="max-height:500px;overflow:auto;">
        <table class="table" style="table-layout:fixed">
            <thead>
                <tr>
                    <th width="20%">Hostname</th>
                    <th width="10%">Hostname Format</th>
                    <th width="8%">IP Address</th>
                    <th width="8%">Telnet Port</th>
                    <th width="7%">SNMP Port</th>
                    <th width="10%">SNMP Community</th>
                    <th width="8%">SNMP Version</th>
                    <th width="8%">Login Expect</th>
                    <th width="8%">Device Type</th>
                    <th width="6%">Os Type</th>
                    <th width="7%">Group</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td title="{{item.hostname}}" style="word-break:break-all">{{item.hostname}}</td>
                    <td>
                        <span *ngIf="!item.hostname_check">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.ip">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.telnet_port">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.snmp_port">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.snmp_community">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.snmp_version">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.login_expect">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.device_type">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.ostype">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.group">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="col-md-6 text-left">
            <h6>
                <i class="fa fa-times-circle" style="color:red"></i>&nbsp;
                該当デバイスに対応カラムの修正が必要です
            </h6>
        </div>
        <div class="col-md-6 text-right">
            <button 
                type="button" 
                id="modalButton" 
                class="btn btn-primary"  
                (click)="closeAlertModal()">
                {{closeMsg}}
            </button>
        </div>
    </div>
</div>