<div class="ibox-content text-center p-md">
    <div class="row">
        <div class="col-lg-12 text-left">
            <div>
                <label 
                    title="Import CSV file" 
                    for="uploadInfo"
                    class="btn btn-primary"
                >   
                    <input
                        type="file"
                        name="uploadInfo"
                        (change)="changeFile($event.target.files)"
                        #uploadInfo
                        id="uploadInfo"
                        class="hide"
                        accept=".csv"
                    /> 
                        CSVによるデバイス登録
                </label>
                <button 
                    class="btn btn-warning"
                    (click)="cancelUpload()"
                >
                    キャンセル
                </button>
                <button 
                    class="btn btn-primary" 
                    (click)="uploadFile()" 
                    [disabled]="loginFlg"
                >
                    デバイス登録
                </button>
            </div>
        </div>
    </div>
    <div class="row" id="import-msg">
        <span *ngIf="uploadFlg=='null'">
            <i class="fa fa-asterisk text-danger" title="必須項目"></i>
            ファイルを選択してください。
        </span>
        <span *ngIf="uploadFlg=='csv'">
            {{filename}}
            <i class="fa fa-check" style="color:green"></i>
        </span>
        <span *ngIf="uploadFlg=='other'">
            {{filename}}
            <i class="fa fa-times" style="color:red"></i>
            <span style="color:red">
                ファイルタイプが間違っています。csvタイプのみがインポートできます。
            </span>
        </span>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-12">
            <table id='devLoginTable'></table>
            <div id='devLoginPager'></div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;"[hidden]="actionFlg">
        <div class="col-lg-12 text-right">
            <button 
                class="btn btn-primary"
                (click)="deviceCheck()"
            >
                <i class="fa fa-check"></i>
                ステータスチェック
            </button>
            <button 
                class="btn btn-primary"
                (click)="deviceLogin()"
                style="margin-left:15px"
            >
                <i class="fa fa-angle-double-right"></i>
                デバイス登録を実施
            </button>
        </div>
    </div>
</div>