<div class="modal-header popup-title" style="font-size:21px">
    <i class="fa fa-cubes"></i>
    Error Devices Table
    <button
        type="button" 
        class="close pull-right" 
        aria-label="Close" 
        (click)="closeAlertModal()"
    >
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body" style="margin-bottom:10px">
    <div style="overflow:auto">
        <!-- <h2><strong>Error Devices Table</strong></h2> -->    
        <table  class="table">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Hostname Format</th>
                    <th>IP Address</th>
                    <th>Telnet Port</th>
                    <th>SNMP Port</th>
                    <th>SNMP Community</th>
                    <th>SNMP Version</th>
                    <th>Login Expect</th>
                    <th>Device Type</th>
                    <th>Ostype</th>
                    <th>Group</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item.hostname}}</td>
                    <td>
                        <span *ngIf="!item.hostname_check">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.ip">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.telnet_port">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.snmp_port">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.snmp_community">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.snmp_version">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.login_expect">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.device_type">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.ostype">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!item.group">
                            <i class="fa fa-times-circle" style="color:red"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-6 text-left">
        <h6>
            <i class="fa fa-times-circle" style="color:red"></i>&nbsp;
            該当デバイスに対応カラムの修正が必要です
        </h6>
    </div>
    <div class="col-md-6 text-right">
        <button 
            type="button" 
            id="modalButton" 
            class="btn btn-primary"  
            (click)="closeAlertModal()">
            {{closeMsg}}
        </button>
    </div>
</div>