.group-list {
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    // background-color: inherit;
    border: 1px solid #e7eaec;
    // display: block;
    // margin-bottom: -1px;
    padding: 5px 10px;
    position: relative;
}
.table {
    // border: 1px solid #EBEBEB;
    border-radius:4px;
    tr {
        border: 1px solid #EBEBEB;
        .group-name-td {
            width: 450px;
            height: 35px;
            border: 1px solid #EBEBEB;
            border-right: none;
        }
        .group-button-td {
            width: 105px;
            border-left: none;
            height: 35px;
        }
    }
}