<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-body text-right">
                <button 
                    type="button" 
                    class="btn btn-success" 
                    (click)="naviCPEdit()"
                >
                    <i class="fa fa-pencil-square"></i>
                    編集
                </button>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-content confirm-default">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-11">
                <dl class="dl-horizontal">
                    <dt>コレクションポリシー名：</dt>
                    <dd>
                        <p class="confirm confirm-text">{{cpName}}</p>
                    </dd>
                    <dt>実行コマンド：</dt>
                    <dd>
                        <p class="confirm confirm-text">{{cliCommand}}</p>
                    </dd>
                    <dt>OS Type：</dt>
                    <dd>
                        <select 
                            name="" 
                            id="" 
                            class="form-control" 
                            style="border: 1px solid #878787; margin-bottom:10px" 
                            disabled="disabled"
                        >
                            <option value="">{{osType}}</option>
                        </select>
                    </dd>                   
                    <dt>概要：</dt>
                    <dd>
                        <p class="confirm confirm-textarea">{{cpDesc}}</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h3>ツリー構成</h3>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1 col-xs-4">
                <div id="policyTree" class="jstree"></div>
            </div>
            <div class="col-lg-8 col-xs-8" *ngIf="ruleFlg" id="rule-info">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-lg fa-cubes" *ngIf="iconFlg"></i>
                        <i class="fa fa-lg fa-text-height" *ngIf="!iconFlg"></i>
                        <span>{{ruleTypeName}}</span>
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-11 col-xs-12">
                        <div id="rule_default">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>ルール名：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>概要：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-textarea">{{desc}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- block_rule_1 -->
                        <div *ngIf="ruleType=='block_rule_1'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準文字列：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{markString}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>ブロック識別子名：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9 col-xs-8">
                                    <input 
                                        type="checkbox" 
                                        id="isSerial" 
                                        name="isSerial"
                                        [(ngModel)]="isSerial" 
                                    />
                                    ブロック識別子に連番を付与
                                </div>  
                            </div>
                        </div>
                        <!-- block_rule_2 -->
                        <div *ngIf="ruleType=='block_rule_2'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準文字列：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{markString}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>ブロック識別子名：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}r</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準以下スタート行：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{startLnNum}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準以下エンド行：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{endLnNum}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9 col-xs-8">
                                    <input 
                                        type="checkbox" 
                                        id="isSerial" 
                                        name="isSerial"
                                        [(ngModel)]="isSerial" 
                                    />
                                    ブロック識別子に連番を付与
                                </div>  
                            </div>
                        </div>
                        <!-- block_rule_3 -->
                        <div *ngIf="ruleType=='block_rule_3'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>スタート文字列：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{markString}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>エンド文字列：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{endMrkStr}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>                                    
                                <div class="col-md-9 col-xs-8">
                                    <input 
                                        type="checkbox" 
                                        id="isSerial" 
                                        name="isSerial"
                                        [(ngModel)]="isInclude" 
                                    />
                                    エンド文字列行を含まない:
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>ブロック識別子：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{extractKey}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>ブロック識別子名：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9 col-xs-8">
                                    <input 
                                        type="checkbox" 
                                        id="isSerial" 
                                        name="isSerial"
                                        [(ngModel)]="isSerial" 
                                    />
                                    ブロック識別子に連番を付与
                                </div>  
                            </div>
                        </div>
                        <!-- block_rule_4 -->
                        <div *ngIf="ruleType=='block_rule_4'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準文字列：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{markString}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>ブロック識別子名：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- data_rule_1 -->
                        <div *ngIf="ruleType=='data_rule_1'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準となる文字列:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{markString}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>切り分け文字:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{selSplitChar}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準文字列からの距離：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{xOffset}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>データ識別子名：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>抽出するデータ:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{extractKey}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- data_rule_2 -->
                        <div *ngIf="ruleType=='data_rule_2'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準となる文字列:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{markString}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>基準文字列からの距離:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{xOffset}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>切り分け文字:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{selSplitChar}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>先頭文字からの距離：:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{yOffset}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>データ識別子名：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>抽出するデータ:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{extractKey}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- data_rule_3 -->
                        <div *ngIf="ruleType=='data_rule_3'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>抽出するデータ：</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{markString}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>データ識別子名:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- data_rule_4 -->
                        <div *ngIf="ruleType=='data_rule_4'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>データ識別子名:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <!-- <p class="confirm confirm-text">{{lineNums}}</p> -->
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- data_rule_9 -->
                        <div *ngIf="ruleType=='data_rule_9'">
                            <div class="row">
                                <div class="col-md-3 col-xs-4 text-right">
                                    <strong>データ識別子名:</strong>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <p class="confirm confirm-text">{{keyStr}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-body text-right">
                <button 
                    type="button" 
                    class="btn btn-success" 
                    (click)="naviCPEdit()"
                >
                    <i class="fa fa-pencil-square"></i>
                    編集
                </button>
            </div>
        </div>
    </div>
</div>