<div class="ibox-content" style="min-height:380px;">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <!--<span style="color:red">※</span>-->
                アクションポリシー名:
            </label>
            <div class="col-sm-6" >
                <input type="text" class="form-control" [(ngModel)]="actionPolicyName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <!--<span style="color:red">※</span>-->
                概要:
            </label>
            <div class="col-sm-6" >
                <textarea class="form-control" style="height: 100px" [(ngModel)]="actionPolicyDescription"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <!--<span style="color:red">※</span>-->
                閾値タイプ:
            </label>
            <div class="col-sm-6" >
                <select class="form-control" [(ngModel)]="triggerType" (change)="resetAll()">
                    <option *ngFor="let item of triggerTypes" value="{{item.id}}">
                        {{item.value}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" *ngIf="triggerType != 0">
            <label class="col-sm-3 control-label">
                <!--<span style="color:red">※</span>-->
                カラム選択:
            </label>
            <div class="col-sm-6" >
                <div class="col-sm-10" style="padding-left: 0px">
                    <input class="form-control" type="text" readonly="readonly" [(ngModel)]="columnOne">
                </div>
                <div class="col-sm-2" style="padding-right: 0px">
                    <button class="btn btn-primary btn-sm pull-right" (click)="selectColumn(columnTable, 'column_one')">select</button>
                </div>

            </div>
        </div>
        <div class="form-group" *ngIf="triggerType == 0">
            <label class="col-sm-3 control-label">
                <!--<span style="color:red">※</span>-->
                カラムA選択:
            </label>
            <div class="col-sm-6" >
                <div class="col-sm-10" style="padding-left: 0px">
                    <input class="form-control" type="text" readonly="readonly" [(ngModel)]="columnA">
                </div>
                <div class="col-sm-2" style="padding-right: 0px">
                    <button class="btn btn-primary btn-sm pull-right" (click)="selectColumn(columnTable, 'column_a')">select</button>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="triggerType == 0">
            <label class="col-sm-3 control-label">
            <!--<span style="color:red">※</span>-->
                カラムB選択:
            </label>
            <div class="col-sm-6" >
                <div class="col-sm-10" style="padding-left: 0px">
                    <input class="form-control" type="text" readonly="readonly" [(ngModel)]="columnB">
                </div>
                <div class="col-sm-2" style="padding-right: 0px">
                    <button class="btn btn-primary btn-sm pull-right" (click)="selectColumn(columnTable, 'column_b')">select</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <table class="col-sm-8 table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center">重要度</th>
                        <th style="text-align: center">Critical</th>
                        <th style="text-align: center">Major</th>
                        <th style="text-align: center">Minor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="triggerType == 2 || triggerType == 1">
                        <th style="text-align: center">閾値</th>
                        <td><input class="form-control" type="text" [(ngModel)]="critical_value"></td>
                        <td><input class="form-control" type="text" [(ngModel)]="major_value"></td>
                        <td><input class="form-control" type="text" [(ngModel)]="minor_value"></td>
                    </tr>
                    <tr *ngIf="triggerType == 2">
                        <th style="text-align: center">条件</th>
                        <td>
                            <select class="form-control" [(ngModel)]="critical_string_condition">
                                <option value="1">等しい</option>
                                <option value="3">等しくない</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="major_string_condition">
                                <option value="1">等しい</option>
                                <option value="3">等しくない</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="minor_string_condition">
                                <option value="1">等しい</option>
                                <option value="3">等しくない</option>
                            </select>
                        </td>
                    </tr>
                    <tr *ngIf="triggerType == 1">
                        <th style="text-align: center">条件</th>
                        <td>
                            <select class="form-control" [(ngModel)]="critical_number_condition">
                                <option *ngFor="let item of conditionList" value="{{item.id}}">
                                    {{item.value}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="major_number_condition">
                                <option *ngFor="let item of conditionList" value="{{item.id}}">
                                    {{item.value}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="minor_number_condition">
                                <option *ngFor="let item of conditionList" value="{{item.id}}">
                                    {{item.value}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr *ngIf="triggerType == 0">
                        <th style="text-align: center">演算式</th>
                        <td><input class="form-control" type="text" [(ngModel)]="critical_function"></td>
                        <td><input class="form-control" type="text" [(ngModel)]="major_function"></td>
                        <td><input class="form-control" type="text" [(ngModel)]="minor_function"></td>
                    </tr>
                    <tr *ngIf="triggerType != 3">
                        <th style="text-align: center">連続超過条件</th>
                        <td>
                            <select class="form-control" [(ngModel)]="critical_continuous_condition">
                                <option *ngFor="let item of continuousOverList" value="{{item.id}}">
                                    {{item.value}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="major_continuous_condition">
                                <option *ngFor="let item of continuousOverList" value="{{item.id}}">
                                    {{item.value}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="minor_continuous_condition">
                                <option *ngFor="let item of continuousOverList" value="{{item.id}}">
                                    {{item.value}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align: center">アクション</th>
                        <td style="text-align: center">
                            <button class="btn btn-primary btn-sm action-button" (click)="selectAction(actionDetails, 'critical_1')">
                                {{criticalActionA}}
                            </button>
                            <button class="btn btn-primary btn-sm action-button" (click)="selectAction(actionDetails, 'critical_2')">
                                {{criticalActionB}}
                            </button>
                        </td>
                        <td style="text-align: center">
                            <button class="btn btn-primary btn-sm action-button" (click)="selectAction(actionDetails, 'major_1')">
                                {{majorActionA}}
                            </button>
                            <button class="btn btn-primary btn-sm action-button" (click)="selectAction(actionDetails, 'major_2')">
                                {{majorActionB}}
                            </button>
                        </td>
                        <td style="text-align: center">
                            <button class="btn btn-primary btn-sm action-button" (click)="selectAction(actionDetails, 'minor_1')">
                                {{minorActionA}}
                            </button>
                            <button class="btn btn-primary btn-sm action-button" (click)="selectAction(actionDetails, 'minor_2')">
                                {{minorActionB}}
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

        <div class="form-group">
            <!--<button class="btn btn-danger btn-sm pull-right" style="margin-right: 5px"-->
                    <!--type="button" (click)="delete()">-->
                <!--<i class="fa fa-minus-square" ></i> 削除-->
            <!--</button>-->
            <button class="btn btn-primary btn-sm pull-right" style="margin-right: 5px"
                    type="submit" (click)="save()">
                <i class="fa fa-check-square" ></i> 保存
            </button>
        </div>
    </div>
</div>



<ng-template #columnTable>
    <div class="modal-header" style="padding-bottom: 30px;">
        <h3 class="modal-title pull-left">カラム選択</h3>
        <button type="button" class="close pull-right" (click)="modalRef.hide()">
          <span style="font-size: 30px">&times;</span>
        </button>
    </div>
    <div class="modal-body form-horizontal" style="padding: 15px 5px 40px 5px;">
        <div>
            <table id='columnTable'></table>
        </div>
        <div>
            <table id="historyDataTable"></table>
        </div>
        <div>
            <div id="policyTree" class="jstree"></div>
        </div>
    </div>
</ng-template>

<ng-template #actionDetails>
    <div class="modal-header" style="padding-bottom: 30px;">
        <h3 class="modal-title pull-left">{{actionSelectTitle}}</h3>
        <button type="button" class="close pull-right" (click)="modalRef.hide()">
          <span style="font-size: 30px">&times;</span>
        </button>
    </div>
    <div class="modal-body form-horizontal" style="padding: 15px 5px 40px 5px;">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                アクションタイプ:
            </label>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="actionSelectedType">
                    <option *ngFor="let item of actionTypes" value="{{item.id}}">
                        {{item.value}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" *ngIf="actionSelectedType == 0">
            <label class="col-sm-3 control-label">
                SNMP Version:
            </label>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="snmpVersion">
                    <option value="1">v1</option>
                    <option value="2">v2c</option>
                </select>
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 0">
            <label class="col-sm-3 control-label">
                Community名:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="snmpCommunity">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 0 && snmpVersion == 1">
            <label class="col-sm-3 control-label">
                Agent Address(v1のみ):
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="snmpAgent">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 0">
            <label class="col-sm-3 control-label">
                宛先IPアドレス:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="snmpIp">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 0">
            <label class="col-sm-3 control-label">
                OID:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="snmpOid">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 0">
            <label class="col-sm-3 control-label">
                メッセージ:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="snmpMessage">
            </div>
        </div>

        <div class="form-group" *ngIf="actionSelectedType == 1">
            <label class="col-sm-3 control-label">
                実行スクリプト:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="script">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 2">
            <label class="col-sm-3 control-label">
                Rundeck IP アドレス:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="rundeckIp">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 2">
            <label class="col-sm-3 control-label">
                Rundeck ユーザ名:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="rundeckUser">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 2">
            <label class="col-sm-3 control-label">
                Rundeck パスワード:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="rundeckPassword">
            </div>
        </div>
        <div class="form-group" *ngIf="actionSelectedType == 2">
            <label class="col-sm-3 control-label">
                RUN COMMAND:
            </label>
            <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="rundeckCommand">
            </div>
        </div>

        <div class="form-group col-sm-12 " style="padding-right: 0px">
            <button type="button" class="btn btn-primary pull-right" (click)="confirmSelectedAction()" >完成</button>
        </div>

    </div>
</ng-template>