.action-button {
  margin-bottom: 5px;
  margin-top: 5px;
}
.stepBtnGroup {
  padding-bottom:15px;
  padding-left: 15px;
  button {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px ;
  }

}
.form-group {
  text-align: right;
  textarea {
    height: 100px;
    overflow-y: auto;
  }
  .necessary-icon {
    color:red;
  }
  .col-md-8 {
    margin-bottom: 25px;
  }

}
.annotation {
  margin-bottom: 25px;
}
.btn-group-margin {
  margin-top: 25px; 
}
/deep/ .highlight {
  border-color:#ffcc00 !important;
  background: #ffcc00 !important;}
  
.action-button {
  margin-bottom: 5px;
  margin-top: 5px;
}
.tree-div {
  max-height:230px ;
  overflow-y: auto;
}
// detail popup

.detail-dialog-body {
  min-height: 350px;
  padding-left: 20px;
  padding-right: 20px;
  .input-div {
    width: 31%;
    label {
      font-weight: 400;
    }
    input {
      width:100%;
    }
  }
  .btn-div {
    width: 38%;
    padding-right: 0;
    button {
      margin-top: 23px;
    }
    .btn-space {
      margin-left: 15px;
    }
  }


}