<div class="modal-content">
    <div class="modal-header" style="padding-bottom: 30px;">
        <h3 class="modal-title pull-left">テーブル名：{{id}}</h3>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
          <span style="font-size: 30px">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 15px 5px 40px 5px;min-height: 320px">

        <div>
            period serch export
        </div>
        <div>
            <table id="historyData"></table>
            <div id="historyDataPager"></div>
        </div>

    </div>
</div>