<div class="modal-content">
  <div class="modal-header" style="padding-bottom: 30px;">
    <h3 class="modal-title pull-left">{{title}}</h3>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
      <span style="font-size: 30px">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 15px 5px 40px 5px;min-height: 340px">
    <div style="min-height: 300px;margin-bottom:20px">
      <div class="col-sm-12"  class="stepBtnGroup">
        <button class="btn btn-sm"
         [ngClass]="{'btn-primary': currentStep >= 1}"
         [disabled]="maxStep<1"
         (click)="setSteps(1)"
         >step 1</button>
        <button class="btn btn-sm"
         [ngClass]="{'btn-primary': currentStep >= 2 , 'btn-default':  currentStep < 2 }"
         [disabled]="maxStep<2"
         (click)="setSteps(2)"
        >step 2</button>
        <button class="btn btn-sm"
         [ngClass]="{'btn-primary': currentStep >= 3 , 'btn-default':  currentStep < 3}" 
         [disabled]="maxStep<3"
         (click)="setSteps(3)"
        >step 3</button>
        <button class="btn btn-sm"
         [ngClass]="{'btn-primary': currentStep >= 4 , 'btn-default': currentStep < 4}" 
         [disabled]="maxStep<4"
         (click)="setSteps(4)"
          >step 4</button>
      </div>
      <div id="step1div" [hidden]="currentStep!==1">
        <div class="col-sm-12 annotation">基本設定を入力してください</div>
        <div class="form-group">
          <label class="col-sm-3 control-label">
            <span class="necessary-icon">※</span>
            テーブル名:
          </label>
          <div class="col-md-8">
            <input type="text" placeholder="" [(ngModel)]="tableName"
            class="form-control ng-untouched ng-pristine ng-valid" 
            placeholder="日本語、英数字、記号可"
            >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">
            概要:
          </label>
          <div class="col-md-8">
            <textarea class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="description"></textarea>
          </div>
        </div>
      </div>
      <div id="step2div" [hidden]="currentStep!==2">
        <div class="col-sm-12 annotation">デバイスグループを選択してください</div>
        <div class="form-group">
          <label class="col-sm-3 control-label">
            <span class="necessary-icon">※</span>
            テーブル名:
          </label>
          <div class="col-md-8">
            <select class="form-control" [(ngModel)]="selectedDeviceGroupId" id="deviceGroup" (ngModelChange)="setChangeFlgs('deviceGroup')" >
              <option *ngFor="let deviceGroup of deviceGroupList" value="{{deviceGroup['group_id']}}">
                {{deviceGroup['name']}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div id="step3div" [hidden]="currentStep!==3">
        <div class="col-sm-12 annotation">カラムを選択してください</div>
        <div class="col-sm-12">
            <table id='stepTable'></table>
        </div>
      </div>
      <div id="step4div" [hidden]="currentStep!==4">
        <div class="col-sm-12 annotation">リーフを選択してください</div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4" id="tree">
              
            </div>
            <div class="col-sm-8" id="table"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 form-group">
      <button class="btn btn-xs btn-warning  pull-left" (click)="bsModalRef.hide()">
        cancel
      </button>
      <button *ngIf="btnFlgs.btnFinished"
       class="btn btn-primary btn-xs pull-right"
      [disabled]="!btnFlgs.btnFinished">Finish</button>
      <button class="btn btn-xs pull-right"
       [ngClass]="{'btn-primary': btnFlgs.btnNext, 'btn-default': !btnFlgs.btnNext}"
        [disabled]="!btnFlgs.btnNext"
        (click)="next()">
        >>
      </button>
      <button class="btn btn-xs pull-right" 
      [ngClass]="{'btn-primary': btnFlgs.btnPrev, 'btn-default': ! btnFlgs.btnPrev}" 
      [disabled]="!btnFlgs.btnPrev"
        (click)="previous()">
        << </button>
    </div>
  </div>
</div>