<div class="modal-content" id="detail-popup">
  <div class="modal-header" style="padding-bottom: 30px;">
    <h3 class="modal-title pull-left">テーブル名：{{tableName}}</h3>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
      <span style="font-size: 30px">&times;</span>
    </button>
  </div>
  <div class="modal-body detail-dialog-body">
    <div class="row">
      <div class="col-md-4 input-div " id="startTime">
        <label>取得開始日時</label>
        <input type="text" class="form-control" [(ngModel)]="startTime" id="startTimeInput">
      </div>
      <div class="col-md-4 input-div " id="endTime">
        <label >取得終了日時</label>
        <input type="text" class="form-control" [(ngModel)]="endTime" id="endTimeInput">
      </div>
      <div class="col-md-4 btn-div" id="searchBtnDiv">
          <button class="btn btn-default btn-layout ">サーチ</button>
          <button class="btn btn-primary btn-layout btn-space">ＣＳＶエクスポート</button>
      </div>
    </div>
  </div>
</div>