<div style="min-height: 225px;">
    <form class="form-horizontal" id="form">
        <div class="form-group">
            <label
                for="tableName"
                class="col-sm-3 control-label"
                [ngClass]="{'text-warning': !tableNameFlg||!tableNameNotNull}"
            >
                <i class="fa fa-asterisk text-danger" title="必須項目"></i>
                テーブル名:
            </label>
            <div
                class="col-sm-9"
                [ngClass]="{'has-warning': !tableNameFlg||!tableNameNotNull}"
            >
                <input
                    type="text"
                    class="form-control"
                    id="tableName"
                    name="tableName"
                    [(ngModel)]="tableName"
                    placeholder="日本語、英数字、記号可"
                    maxlength="256"
                    (keyup)="keyUp.next($event)"
                />
            </div>
        </div>
        <div class="form-group">
            <label 
                for="desc" 
                class="col-sm-3 control-label"
            >
                概要：
            </label>
            <div class="col-sm-9">
                <textarea 
                    class="form-control" 
                    id="desc" 
                    name="desc"
                    [(ngModel)]="desc" 
                    maxlength="2000"
                >
                </textarea>
            </div>
        </div>
        <div 
            class="col-sm-12 text-warning" 
            *ngIf="!tableNameNotNull"
            >
            テーブル名は必須入力です。
        </div>
        <div 
            class="col-sm-12 text-warning" 
            *ngIf="!tableNameNotNull&&!tableNameFlg"
        >
            テーブル名は日本語、英数字、記号可で入力してください。
        </div>
    </form>
</div>