<div class="col-lg-10">
    <ol class="breadcrumb" >
        <h2>{{title}}</h2>
        <!-- <li *ngFor="let item of breadcrumbs" ><a href="#{{item.url}}" >{{item.pathLable}}</a> </li> -->
     <!-- <li *ngFor="let item of breadcrumbs" ><a [routerLink]="['/index/']" routerLinkActive="active-link"><span>ホーム</span></a>{{item.pathLable}}</li> -->
     <!-- navigation -->
     <!-- <li>
         <a [routerLink]="['/index']"><span>ホーム / </span></a>
        <a id='labelParent'>{{pathObj.labelParent}} /</a>
        <strong>{{pathObj.labelTitle}}</strong>
    </li> -->
    </ol>
</div>
<div class="col-lg-2"></div>