@import "../../assets/less/variables.less";
.btn-groups {
    display: block;
    padding-top:0px;
    padding-left: 4px;
    text-align:left;
    margin-bottom: 20px;
    .btn-default {
        color: @text-color;
        border-radius: 3px;
        box-shadow: none;
        margin-left:-4px;
        padding: 5px 10px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        &:hover, &:active, &:focus, &:focus:hover, &:focus:active {
            background: #e6e6e6 !important ;
            border-color: #e6e6e6 !important ;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        }
    }
}