<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title pull-left">{{title}}</h3>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
          <span style="font-size: 30px">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-bottom: 20px">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    OS TYPE:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control" [(ngModel)]="selectedOsType"
                            id="osType" name="selectedOsType" (change)="changeOsType()">
                        <option *ngFor="let item of osType" value="{{item.ostypeid}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    優先度:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control" [(ngModel)]="priority" (change)="changePriority()"
                            id="priority" name="priority">
                        <option *ngFor="let item of priorities" value="{{item.id}}">
                            {{item.value}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    デバイスグループ:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control" [(ngModel)]="deviceGroup"
                            id="deviceGroup" name="deviceGroup">
                        <option *ngFor="let item of deviceGroups" value="{{item.group_id}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    コレクション<br>ポリシーグループ:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control" [(ngModel)]="policyGroup" (change)="changeCPG()"
                            id="policyGroup" name="policyGroup">
                        <option *ngFor="let item of policyGroups" value="{{item.policy_group_id}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    有効期間:
                </label>
                <div class="col-sm-3" *ngFor="let item of validPeriodTypes">
                    <input type="radio" name="validPeriodType" value="{{item.id}}"
                    (click)="changeValidPeriodType(item.id)">
                    {{item.value}}
                </div>
                <div id="validPeriod" class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 datepickr-group">
                        <label class=" control-label col-sm-3" >
                            取得開始日時:
                        </label>
                        <div class="col-sm-7">
                            <input id="startDateTimeInput" type="text" class="form-control" name="startDateTime"
                                   placeholder="YYYY-MM-DD HH:mm" [(ngModel)]="startDateTime"
                                   (ngModelChange)="setMaxAndMinDate('start')">
                        </div>
                        <div class="col-sm-1 clear-div">
                            <i class="fa fa-ban clear-icon" (click)="clearDate('startDate')"></i>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 datepickr-group ">
                        <label class=" control-label col-sm-3 " >
                            取得終了日時:&nbsp;
                        </label>
                        <div class="col-sm-7">
                            <input id="endDateTimeInput" type="text" class="form-control" name="endDateTime"
                                   placeholder="YYYY-MM-DD HH:mm" [(ngModel)]="endDateTime"
                                   (ngModelChange)="setMaxAndMinDate('end')">
                        </div>
                        <div class="col-sm-1 clear-div">
                            <i class="fa fa-ban clear-icon" (click)="clearDate('endDate')"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    データ取得期間:
                </label>
                <div class="col-sm-3" *ngFor="let item of dataScheduleTypes">
                    <input  type="radio" (click)="changeDataScheduleType(item.id)"
                           name="dataScheduleType" value="{{item.id}}">
                    {{item.value}}
                </div>
                <div id="dataSchedule" class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="col-sm-2" style="margin-top: 2px">
                            曜日
                        </div>

                        <div *ngFor="let item of weekdays" style="float: left">
                            <input name="weekday" type="checkbox" (click)="changeWeekdays(item.id)"
                                   value="{{item.id}}" checked="{{item.ifCheck}}">
                            {{item.value}}&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>


                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 datepickr-group">
                        <label class=" control-label col-sm-3" >
                            開始時間:
                        </label>
                        <div class="col-sm-5" >
                            <input id="startTimeInput" type="text" class="form-control" name="startTime"
                                   placeholder="HH:mm" [(ngModel)]="startTime"
                                   (ngModelChange)="setMaxAndMinTime('start')">
                        </div>

                    </div>

                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 datepickr-group">

                        <label class="control-label col-sm-3 " >
                            終了時間:
                        </label>
                        <div class="col-sm-5" >
                            <input id="endTimeInput" type="text" class="form-control" name="endTime"
                                   placeholder="HH:mm" [(ngModel)]="endTime"
                                   (ngModelChange)="setMaxAndMinTime('end')">
                        </div>
                    </div>

                </div>

            </div>
            <div class="form-group" style="margin-bottom: 0px">
                <button class="btn btn-danger btn-sm pull-right" style="margin-right: 5px"
                        type="button" (click)="delete()">
                    <i class="fa fa-minus-square" ></i> 削除
                </button>
                <button class="btn btn-primary btn-sm pull-right" style="margin-right: 5px"
                        type="submit" (click)="save()">
                    <i class="fa fa-check-square" ></i> 保存
                </button>
            </div>
        </div>
    </div>
</div>