<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
          <span>&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding-bottom: 20px">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <!--<span style="color:red">※</span>-->
                    OS TYPE:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control"
                            id="osType" name="selectedOsType" (change)="changeOsType()">
                        <option *ngFor="let item of osType" value="{{item.id}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <!--<span style="color:red">※</span>-->
                    優先度:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control"
                            id="priority" name="priority">
                        <option *ngFor="let item of priorities" value="{{item.id}}">
                            {{item.value}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <!--<span style="color:red">※</span>-->
                    デバイスグループ:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control"
                            id="deviceGroup" name="deviceGroup">
                        <option *ngFor="let item of deviceGroups" value="{{item.id}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <!--<span style="color:red">※</span>-->
                    コレクション<br>ポリシーグループ:
                </label>
                <div class="col-sm-6" >
                    <select class="form-control"
                            id="policyGroup" name="policyGroup">
                        <option value="-1">全機能OFF</option>
                        <option *ngFor="let item of policyGroups" value="{{item.id}}">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <!--<span style="color:red">※</span>-->
                    有効期間:
                </label>
                <div class="col-sm-3" *ngFor="let item of validPeriodTypes">
                    <input  type="radio" name="validPeriodType" value="{{item.id}}"
                    (click)="changeValidPeriodType(item.id)">
                    {{item.value}}
                </div>
                <div id="validPeriod" class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="col-sm-3" style="margin-bottom: 5px; margin-top: 30px; padding-right: 0px; padding-left: 0px;">
                            取得開始日時:
                        </div>
                        <div class="col-sm-5" style="margin-bottom: 25px; margin-top: 23px; padding-right: 0px; padding-left: 0px;">
                            <input type="text" placeholder="YYYY-MM-DD" name="startDate" class="bsDate"
                               [minDate]="bsValue"
                               [maxDate]="maxDate"
                               [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}"
                               #dps="bsDatepicker"
                               bsDatepicker>
                        </div>
                        <div class="col-sm-4" style=" padding-right: 0px; padding-left: 0px;">
                            <timepicker name="startDateTime" [(ngModel)]="startDateTime"
                                        [showMeridian]="isTimeMeridian"[minuteStep]="1">

                            </timepicker>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="col-sm-3" style="margin-bottom: 5px; margin-top: 30px; padding-right: 0px; padding-left: 0px;">
                            取得終了日時:&nbsp;
                        </div>
                        <div class="col-sm-5" style="margin-bottom: 25px; margin-top: 23px; padding-right: 0px; padding-left: 0px;">
                            <input type="text" placeholder="YYYY-MM-DD" name="endDate" class="bsDate"
                               [minDate]="bsValue"
                               [maxDate]="maxDate"
                               [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}"
                               #dpe="bsDatepicker"
                               bsDatepicker>
                        </div>
                        <div class="col-sm-4" style=" padding-right: 0px; padding-left: 0px;">
                            <timepicker name="endDateTime" [(ngModel)]="endDateTime"
                                            [showMeridian]="isTimeMeridian" [minuteStep]="1">

                            </timepicker>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <!--<span style="color:red">※</span>-->
                    データ取得期間:
                </label>
                <div class="col-sm-3" *ngFor="let item of dataScheduleTypes">
                    <input  type="radio" (click)="changeDataScheduleType(item.id)"
                           name="dataScheduleType" value="{{item.id}}">
                    {{item.value}}
                </div>
                <div id="dataSchedule" class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="col-sm-2" style="margin-top: 2px">
                            曜日
                        </div>

                        <div *ngFor="let item of weekdays" style="float: left">
                            <input name="weekday" type="checkbox"
                                   value="{{item.id}}" checked="{{item.ifCheck}}">
                            {{item.value}}&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>


                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="col-sm-2" style="margin-bottom: 5px; margin-top: 30px; padding-right: 0px; padding-left: 0px;">
                            開始時間:
                        </div>
                        <div class="col-sm-10" >
                            <timepicker name="startTime" [(ngModel)]="startTime"
                                        [showMeridian]="isTimeMeridian" [minuteStep]="1">

                            </timepicker>
                        </div>
                        <div class="col-sm-2" style="margin-bottom: 5px; margin-top: 30px; padding-right: 0px; padding-left: 0px;">
                            終了時間:
                        </div>
                        <div class="col-sm-10" >
                           <timepicker name="endTime" [(ngModel)]="endTime"
                                        [showMeridian]="isTimeMeridian"[minuteStep]="1">

                            </timepicker>
                        </div>
                    </div>

                </div>

            </div>
            <div class="form-group" style="margin-bottom: 0px">
                <button class="btn btn-primary btn-sm pull-right" style="margin-right: 5px"
                        type="submit" (click)="save()">
                    <i class="fa fa-check-square" ></i> 保存
                </button>
                <button class="btn btn-warning btn-sm pull-right" style="margin-right: 5px"
                        type="button" (click)="bsModalRef.hide()">
                    <i class="fa fa-window-close" ></i> キャンセル
                </button>
            </div>
        </form>
    </div>
</div>