<div class="ibox-content" style="min-height:380px">
    <div>
        <label>Device</label>
       <select id="device" name="device" style="width: 200px"
               [(ngModel)]="deviceNo">
           <option *ngFor="let item of deviceList"  value="{{item.device_id}}">
                {{item.hostname}}
           </option>
        </select>
    </div>
    <div style="margin-top: 30px">
        <table id='policiesTable'></table>
        <!--<div id='policiesPager'></div>-->
    </div>

</div>