<div class="ibox-content" style="min-height:380px;display: none;">
    <div>
        <label>Device</label>
       <select id="device" name="device" style="width: 200px">
           <option *ngFor="let item of deviceList" value="{{item.deviceNo}}">
                {{item.name}}
           </option>
            <!--<option >device1</option>-->
            <!--<option >device2</option>-->
            <!--<option >device3</option>-->
            <!--<option >device4</option>-->
        </select>

    </div>
    <div style="margin-top: 30px">
        <table id='policiesTable'></table>
        <!--<div id='policiesPager'></div>-->
    </div>

</div>