<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title" style="font-size:21px">
            <span *ngIf="(actionType)=='create'">コレクションポリシーグループ登録</span>
            <span *ngIf="(actionType)=='edit'">コレクションポリシーグループ編集</span>
            <span *ngIf="(actionType)=='detail'">コレクションポリシーグループ確認</span>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <i aria-hidden="true" class="fa fa-times"></i>
            </button>
        </div>        
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="form" novalidate="novalidate">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label" [ngClass]="{'text-warning': !nameFlg||!nameNotNull}">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    コレクションポリシーグループ名:
                </label>
                <div class="col-sm-4" [ngClass]="{'has-warning': !nameFlg||!nameNotNull}">
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" 
                    placeholder="英数字のみ" maxlength="256" required="" [ngClass]="{'disabled': usingFlg}"
                        aria-required="true" autocomplete="off">
                </div>
            </div>
            <!-- 概要 -->
            <div class="form-group">
                <label for="desc" class="col-sm-4 control-label">概要：</label>
                <div class="col-sm-4">
                    <textarea class="form-control" id="desc" name="desc"
                    [(ngModel)]="desc" maxlength="2000"></textarea>
                </div>
            </div>
            <!-- ostype -->
            <div class="form-group unuse_east">
                <label for="osType" class="col-sm-4 control-label">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>OS Type：
                </label>
                <div class="col-sm-4">
                    <select class="form-control" [(ngModel)]="selectedOsType" id="osType" name="selectedOsType">
                        <option *ngFor="let item of osType" value="{{item.ostypeid}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <!-- addBtn -->
            <div class="form-group" *ngIf="moreFlg">
                <div class="col-sm-1">
                    <button class="btn btn-xs btn-primary" id="add" (click)="addBtn()">
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
                <div class="col-sm-11" *ngIf="addFlg">
                    <div class="ibox-title2">
                        <div class="col-sm-12 text-left"><b>対応コレクションポリシー追加</b></div>
                    </div>
                    <!-- select_コレクションポリシー名: -->
                    <div class="form-group">
                        <label for="cpName" class="col-sm-4 control-label">
                            コレクションポリシー名:
                        </label>
                        <div class="col-sm-4 control-label">
                            <select class="form-control" id="selCPName" name="selCPName" 
                            [(ngModel)]="selCPName" (change)="cpNamecChange(selCPName)">
                                <option value="null">Please choose CP name </option>                            
                                <option *ngFor="let cpName of cpNames" value="{{cpName.coll_policy_id}}">
                                    {{cpName.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--取得間隔: -->
                    <div class="form-group">
                        <label for="execInterval" class="col-sm-4 control-label">
                            取得間隔:
                        </label>
                        <div class="col-sm-4">
                            <select class="form-control" id="execInterval" name="selExecInterval"
                            [(ngModel)]="selExecInterval" (change)="execIntervalChange(selExecInterval)">
                                <option value="null">Please choose monitor time </option>
                                <option value="1" *ngIf="cliFlg">1分</option>
                                <option value="2">5分</option>
                                <option value="3">15分</option>
                                <option value="4">1時間</option>
                                <option value="5">1日</option>
                            </select>
                        </div>
                    </div>
                    <!-- 保存期间 暂时不加-->
                    <!-- <div class="form-group">
                        <label for="expiDuration" class="col-sm-4 control-label">保存期間:
                        </label>
                        <div class="col-sm-4">
                            <select  id="expiDuration" class="form-control" name="selExpiDurantion"
                            [(ngModel)]="selExpiDurantion" (change)="execIntervalChange(selExpiDurantion)">
                                <option value="1">1分</option>
                                <option value="2">5分</option>
                                <option value="3">15分</option>
                                <option value="4">1時間</option>
                                <option value="5">1日</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- 追加btn -->
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-xs btn-warning add" id="addMoreInfo" (click)="addMoreInfo()">
                                <i class="fa fa-pencil-square"></i>
                                追加
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- jqgrid-table -->
            <div class="box" >
                <table id="moreInfoTable"></table>
                <div id="moreInfoTable"></div>
            </div> 
            <!-- alert -->
            <div class="form-group" [ngClass]="{'hidden':msgFlg}">
                <div class="col-sm-12 text-warning" *ngIf="!nameNotNull">コレクションポリシー名は必須入力です。</div>
                <div class="col-sm-12 text-warning" *ngIf="!nameNotNull&&!nameFlg">コレクションポリシー名は半角英数字のみで入力してください。</div>
            </div> 
        </form>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <!-- 取消/保存btn  -->
            <div class="col-sm-12 text-right">
                <button class="btn btn-primary" id="cancel" (click)="bsModalRef.hide()">
                    <i class="fa fa-minus-square"></i>
                    キャンセル
                </button>
                <button *ngIf="(actionType)!='detail'" class="btn btn-primary" id="cPGLogin" (click)="cPGLogin()">
                    <i class="fa fa-check-square-o"></i>
                    保存
                </button>
                <button *ngIf="(actionType)=='detail'" class="btn btn-primary" id="cPGEdit" (click)="cPGEdit()">
                    <i class="fa fa-pencil-square"></i>
                    編集
                </button>
            </div>
        </div>
    </div>
</div>