<div class="modal-content">
  <div class="modal-header popup-title" style="font-size:21px">
    <i class="fa fa-cubes"></i>&nbsp;ルール
    <span [ngClass]="{'hidden':(actionType)=='edit'}">追加</span>
    <span [ngClass]="{'hidden':(actionType)=='create'}">編集</span>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <i aria-hidden="true" class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_rule" novalidate="novalidate">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="name">
                        <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                        ルール名：
                    </label>
                    <input type="text" class="form-control" id="name"
                    name="name" [(ngModel)]="name" maxlength="30" 
                    placeholder="英数字のみ" required="" aria-required="true">
                </div>
                <div class="form-group">
                    <label for="desc">概要：</label>
                    <textarea class="form-control" id="desc" name="desc" [(ngModel)]="desc" maxlength="2000"></textarea>
                </div>
            </div>
            <!-- インデントによって絞る block_rule_1 -->
            <div class="col-xs-7" [ngClass]="{'hidden': (ruleType)!='block_rule_1'}">
                <div class="form-group">
                    <label for="markString">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    基準文字列（ブロック識別子）：
                    </label>
                    <input type="text" class="form-control" id="markString"
                    name="markString" [(ngModel)]="markString" maxlength="256"
                    placeholder="正規表現で記述可能" required="" aria-required="true">
                </div>
                <div class="form-group">
                    <label for="keyStr">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                            ブロック識別子名：
                    </label>
                    <input type="text" class="form-control" id="keyStr" name="keyStr" maxlength="30"
                    [(ngModel)]="keyStr" placeholder="英数字のみ" required="" aria-required="true">
                </div>  
                <div >
                    <input type="checkbox" id="isSerial" name="isSerial"
                    [checked]="isSerial" (change)="isSerial=!isSerial">ブロック識別子に連番を付与
                </div>  
            </div>
            <!-- 行数によるブロック定義 block_rule_2 -->
            <div class="col-xs-7" [ngClass]="{'hidden': (ruleType)!='block_rule_2'}">
                <div class="form-group">
                    <label for="markString">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    基準文字列（ブロック識別子）：
                    </label>
                    <input type="text" class="form-control" id="markString"
                    name="markString" [(ngModel)]="markString" maxlength="256"
                    placeholder="正規表現で記述可能" required="" aria-required="true">
                </div>
                <div class="form-group">
                    <label for="keyStr">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                            ブロック識別子名：
                    </label>
                    <input type="text" class="form-control" id="keyStr" name="keyStr" maxlength="30"
                    [(ngModel)]="keyStr" placeholder="英数字のみ" required="" aria-required="true">
                </div>
                <div class="form-group">
                    <label for="startLnNum">
                        <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                        基準以下スタート行：
                    </label>
                    <input type="number" class="form-control" id="startLnNum" name="startLnNum" value="0" required="" aria-required="true">
                </div>  
                <div class="form-group">
                    <label for="endLnNum">
                        <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                        基準以下エンド行：
                    </label>
                    <input type="number" class="form-control" id="endLnNum" name="endLnNum" value="0" required="" aria-required="true">
                </div>  
                <div>
                    <input type="checkbox" id="isSerial" name="isSerial"
                    [checked]="isSerial">ブロック識別子に連番を付与
                </div>  
            </div>
            <!-- 指定文字列-指定文字列でのブロック抽出 block_rule_3 -->
            <!-- block识别子和start文字列重复 -->
            <div class="col-xs-7" [ngClass]="{'hidden': (ruleType)!='block_rule_3'}">
                <div class="form-group">
                <label for="markString">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    スタート文字列：
                    </label>
                    <input type="text" class="form-control" id="markString"
                    name="markString" [(ngModel)]="markString" maxlength="256"
                    placeholder="英数字のみ" required="" aria-required="true">
                </div>  
                <div class="form-group">
                    <label for="endMrkStr">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    エンド文字列：
                    </label>
                    <input type="text" class="form-control" id="endMrkStr" name="endMrkStr" maxlength="256"
                    [(ngModel)]="endMrkStr" placeholder="英数字のみ" required="" aria-required="true">                
                </div>
                <div>
                    <input type="checkbox" id="isInclude" name="isInclude"
                    [checked]="isInclude">エンド文字列行を含まない
                </div>  
                <div class="form-group">
                    <label for="extractKey">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    ブロック識別子：
                    </label>
                    <input type="text" class="form-control" id="extractKey"
                    name="extractKey" [(ngModel)]="extractKey" maxlength="256"
                    placeholder="正規表現で記述可能" required="" aria-required="true">
                </div>
                <div class="form-group">
                    <label for="keyStr">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    ブロック識別子名：
                    </label>
                    <input type="text" class="form-control" id="keyStr" name="keyStr" maxlength="30"
                    [(ngModel)]="keyStr" placeholder="英数字のみ" required="" aria-required="true">
                </div>  
                <div>
                    <input type="checkbox" id="isSerial" name="isSerial"
                    [checked]="isSerial">ブロック識別子に連番を付与
                </div>  
            </div>
            <!-- 正規表現を含むブロック抽出 block_rule_4 -->
            <div class="col-xs-7" [ngClass]="{'hidden': (ruleType)!='block_rule_4'}">
                    <div class="form-group">
                        <label for="markString">
                        <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                        基準文字列：
                        </label>
                        <input type="text" class="form-control" id="markString"
                        name="markString" [(ngModel)]="markString" maxlength="256"
                        placeholder="正規表現で記述可能" required="" aria-required="true">
                    </div>
                    <div class="form-group">
                        <label for="keyStr">
                        <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                        ブロック識別子名：
                        </label>
                        <input type="text" class="form-control" id="keyStr" name="keyStr" maxlength="30"
                        [(ngModel)]="keyStr" placeholder="英数字のみ" required="" aria-required="true">
                    </div>  
                </div>
        </div>
    </form>
</div>
<div *ngIf = "descFlg">lalalal</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="save()">
          <i class="fa fa-clipboard"></i> 保存
      </button>
  </div>
</div>