<div class="modal-content">
  <div class="modal-header popup-title" style="font-size:21px">
    <i class="fa fa-cubes"></i>&nbsp;ルール
    <span [ngClass]="{'hidden':(actionType)=='edit'}">追加</span>
    <span [ngClass]="{'hidden':(actionType)=='create'}">編集</span>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <i aria-hidden="true" class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form id="form_rule" novalidate="novalidate">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="name">
                        <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                        ルール名：
                    </label>
                    <input type="text" class="form-control" id="name"
                    name="name" [(ngModel)]="name" maxlength="30" 
                    placeholder="英数字のみ" required="" aria-required="true">
                </div>
                <div class="form-group">
                    <label for="desc">概要：</label>
                    <textarea class="form-control" id="desc" name="desc" [(ngModel)]="desc" maxlength="2000"></textarea>
                </div>
            </div>
            <div class="col-xs-7" id="rule_detail">
                <!-- インデントによって絞る -->
                <div class="form-group">
                    <label for="markString">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                    基準文字列（ブロック識別子）：
                    </label>
                    <input type="text" class="form-control" id="markString"
                    name="markString" [(ngModel)]="markString" maxlength="256"
                    placeholder="正規表現で記述可能" required="" aria-required="true">
                </div>
                <div class="form-group">
                    <label for="keyStr">
                    <i class="fa fa-asterisk text-danger" aria-hidden="true" title="必須項目"></i>
                            ブロック識別子名：
                    </label>
                    <input type="text" class="form-control" id="keyStr" name="keyStr" maxlength="30"
                    [(ngModel)]="keyStr" placeholder="英数字のみ" required="" aria-required="true">
                </div>  
            </div>
        </div>
    </form>
</div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="save()">
          <i class="fa fa-clipboard"></i> 保存
      </button>
  </div>
</div>