<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-body text-right">
                <button type="button" class="btn btn-success" (click)="naviCPEdit()">
                    <i class="fa fa-pencil-square"></i>
                    編集する
                </button>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-content confirm-default">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-11">
                <dl class="dl-horizontal">
                    <dt>コレクションポリシー名：</dt>
                    <dd>
                        <p class="confirm confirm-text">{{name}}</p>
                    </dd>
                    <dt>実行コマンド：</dt>
                    <dd>
                        <p class="confirm confirm-text">{{cliCommand}}</p>
                    </dd>
                    <dt>OS Type：</dt>
                    <dd>
                        <select name="" id="" class="form-control" 
                        style="border: 1px solid #878787; margin-bottom:10px" disabled="disabled">
                            <option value="">{{osType}}</option>
                        </select>
                    </dd>                   
                    <dt>概要：</dt>
                    <dd>
                        <p class="confirm confirm-textarea">{{desc}}</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h3>ツリー構成</h3>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1 col-xs-4">
                <div id="policyTree" class="jstree"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-body text-right">
                <button type="button" class="btn btn-success" (click)="naviCPEdit()">
                    <i class="fa fa-pencil-square"></i>
                    編集する
                </button>
            </div>
        </div>
    </div>
</div>
