<div class="modal-content">
    <div class="modal-body" style="margin-bottom:10px;max-height:500px;overflow:auto">
        <p *ngIf="!data" class="text-center">{{modalMsg}}</p>
        <div *ngIf="data" class="text-left">
            <p class="text-left">{{modalMsg}}</p>
            <div *ngFor="let item of data">
                <i class="fa fa-genderless"></i>&nbsp;&nbsp;{{item}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-right">
            <button type="button" id="modalButton" class="btn btn-primary" (click)="closeAlertModal()">
                {{closeMsg}}
            </button>
        </div>
    </div>
</div>