<div class="col-lg-12">
    <h2>CLI</h2>
    <h4>commands <i class="fa fa-info-circle" style="cursor: pointer" (click)="tips()"></i></h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter1">
    <h4>CLI情報取得前デフォルト実行コマンド <i class="fa fa-info-circle" style="cursor: pointer" (click)="tips()"></i></h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter2">
    <h4>CLI情報取得完了後デフォルト実行コマンド <i class="fa fa-info-circle" style="cursor: pointer" (click)="tips()"></i></h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter3">
    <h4>CLIデフォルトプロンプト文字列</h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter4">
    <h4>Telnet Port</h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter5">
    <h4>CLIエラー文字列 <i class="fa fa-info-circle" style="cursor: pointer" (click)="tips()"></i></h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter6">
    <h4>ip</h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter7">
    <h4>hostname</h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter8">
    <h4>Login Expect</h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter9">
    <h4>CLI(Telnet) タイムアウト値</h4>
    <input type="text" style="width: 100%;" [(ngModel)]="cliParameter10">
</div>
<div class="col-lg-12">
    <br/>
    <button (click)="submitCli()" class="btn btn-success">submit cli</button>
    <br/>
</div>


<div class="col-lg-12 space-5">&nbsp;</div>
<div class="panel panel-success col-lg-12" style="padding: 0px">
    <div class="panel-heading" style="text-align:center">CLI DATA</div>
    <div class="panel-body" id="result1">

    </div>
</div>
<div class="panel panel-success col-lg-12" style="padding: 0px">
    <div class="panel-heading" style="text-align:center">CLI LOG</div>
    <div class="panel-body" id="result2">

    </div>
</div>



