<div class="col-lg-12">
    <h3>SNMP</h3>
    <h3>IP</h3>
    <input type="text" style="width: 100%;" [(ngModel)]="snmpParameter1">
    <h3>Community</h3>
    <input type="text" style="width: 100%;" [(ngModel)]="snmpParameter2">
    <h3>OID</h3>
    <input type="text" style="width: 100%;" [(ngModel)]="snmpParameter3">
</div>
<div class="col-lg-12">
    <br/>
    <button (click)="submitSnmp()" class="btn btn-success">submit snmp</button>
    <br/>
</div>


<div class="col-lg-12 space-5">&nbsp;</div>

<!--<div class="panel panel-success col-lg-12" style="padding: 0px">-->
    <!--<div class="panel-heading" style="text-align:center">SNMP DATA</div>-->
    <!--<div class="panel-body" id="result3">-->

    <!--</div>-->
<!--</div>-->
<!--<div class="panel panel-success col-lg-12" style="padding: 0px">-->
    <!--<div class="panel-heading" style="text-align:center">SNMP LOG</div>-->
    <!--<div class="panel-body" id="result4">-->

    <!--</div>-->
<!--</div>-->

<div class="panel panel-success col-lg-12" style="padding: 0px" >
    <div class="panel-heading" style="text-align:center">SNMP OUTPUT VALUE</div>
    <div class="panel-body" id="result1">

    </div>
</div>